
@{

}

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.ReceptID</h2>
<h5>Description:</h5>
<div>@Html.Raw(ViewBag.Description):</div>

@if (ViewBag.Ingredients.Length > 0)
{

    <h5>Ingredients:</h5>
    <div>
        <ul>
            @foreach (var tmp in ViewBag.Ingredients)
            {

                <li>@tmp</li>
            }
        </ul>

    </div>

}

